// colors

// main colors
$clr-zapier: #ff4f00;
$clr-earth: #201515;
$clr-moss: #1f3121;
$clr-night: #2b2358;
$clr-lavender: #c1b7ff;
$clr-peach: #ffbf63;
$clr-bolt: #f6ffdb;
$clr-sky: #cde4e1;
$clr-cream: #fff3e6;
$clr-blue-jeans: #3d4592;
$clr-bluebell: #5e71c7;
$clr-periwinkle: #90a1ed;
$clr-lilac: #b2bce9;
$clr-hydrangea: #d2d8f3;
$clr-acid-wash: #f0f1fa;

// error shades
$clr-error-500: #b83519;
$clr-error-400: #ce482d;
$clr-error-300: #e87057;
$clr-error-200: #feb7a8;
$clr-error-100: #fadfd9;
// warining shades
$clr-warning-500: #dfb900;
$clr-warning-400: #ffd300;
$clr-warning-300: #f8df68;
$clr-warning-200: #fcec9f;
$clr-warning-100: #fff4bc;
// success shades
$clr-success-500: #086f3d;
$clr-success-400: #0f884e;
$clr-success-300: #36a770;
$clr-success-200: #ade2c8;
$clr-success-100: #def3e9;
// netural shades
$clr-neutral-800: #2d2e2e;
$clr-neutral-700: #403f3e;
$clr-neutral-600: #95928e;
$clr-neutral-500: #a8a5a0;
$clr-neutral-400: #d7d5d2;
$clr-neutral-300: #e8e7e4;
$clr-neutral-200: #f7f5f2;
$clr-neutral-100: #fffdf9;
$clr-neutral: #ffffff;


// fonts
$typo-base: 'Inter',sans-serif;
$typo-heading: 'Noto Sans Display', sans-serif;
$typo-heading-display:  'Recursive', sans-serif;

// spacing
$typo-large-ls: 1px;
$typo-small-ls: normal;

// weight
$typo-ph-weight: 700;
$typo-semibold-weight: 600;
$typo-medium-weight: 500;

// sizes
$typo-ph1-fz: 82px;
$typo-ph1-lh: 84px;
$typo-ph3-fz: 62px;
$typo-ph3-lh: 66px;
$typo-ph4-fz: 52px;
$typo-ph4-lh: 60px;
$typo-ph5-fz: 42px;
$typo-ph5-lh: 50px;
$typo-ph7-fz: 34px;
$typo-ph7-lh: 40px;
$typo-ph9-fz: 26px;
$typo-ph9-lh: 32px;
$typo-pg-short-lh: 24px;
$typo-pg-lh: 28px;